<div class="card my-4">
    <div class="card-header bg-primary">
        <h5 class="text-light fw-bold">LIST OF PRODUCTS</h5>
    </div>
    <nav class="navbar navbar-light bg-light my-5">
        <div class="container">
            <input ng-model="searchName" type="text" class="form-control" id="keyword" placeholder="Enter keyword...">
        </div>
    </nav>
    <div class="card-body">
        <table class="table table-condensed">
            <thead class="bg-success" style="font-variant: small-caps;">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Available?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="item in items | filter:searchName | limitTo: pageSize: start">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price | number:0}} VNĐ</td>
                <td>{{item.createDate | date: 'dd-MM-yyyy'}}</td>
                <td><img ng-src="/assets/images/{{item.image}}" style="width: 100px;"></td>
                <td>{{item.category.name}}</td>
                <td>{{item.available? 'Yes':'No'}}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button ng-click="edit(item)" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button ng-click="delete(item)" class="btn btn-danger glyphicon-trash"><i class="fa-solid fa-trash-can text-dark"></i></button>
                    </div>
                </td>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        <button ng-click="first();" class="btn btn-warning">
            <i class="fa-solid fa-backward-step"></i>
            Trang đầu
        </button>
        <button ng-click="prev();" class="btn btn-info">
            <i class="fa-solid fa-backward"></i>
            Trang trước
        </button>
        <button class="btn btn-success">{{pageIndex + 1}} of {{count()}}</button>
        <button ng-click="next();" class="btn btn-info">
            <i class="fa-solid fa-forward"></i>
            Trang kế
        </button>
        <button ng-click="last();" class="btn btn-warning">
            <i class="fa-solid fa-forward-step"></i>
            Trang cuối
        </button>
        <!-- <button ng-click="pager.first()" class="btn btn-danger">
            <<
        </button>
        <button ng-click="pager.prev()" class="btn btn-danger">
            <
        </button>
        <button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
        <button ng-click="pager.next()" class="btn btn-danger">
            >
        </button>
        <button ng-click="pager.last()" class="btn btn-danger">
            >>
        </button> -->
    </div>
    <script src="/assets/admin/product/dirPagination.js"></script>
</div>